<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{key}} - Workout</title>
    <link rel="stylesheet" href="/css/workout.css" />
    <script src="/js/workout.js"></script>
  </head>
  <body>
    <h1>{{key}}</h1>
    <article>
      {{md body}}
    </article>
  </body>
</html>
