<html>
  <head>
    <title>{{key}} - Workout</title>
    <link rel="stylesheet" href="/css/workout.css" />
  </head>
  <body>
    <h1>{{key}}</h1>
    <article>
      {{md body}}
    </article>
  </body>
</html>
